name: Test Build Docs

on:
  pull_request:

jobs:
  build-docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.7'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flit
          flit install -s
      - name: Build the docs
        run: |
          cd docs
          pushd en && make html && popd
      - name: markdown-link-check
        uses: gaurav-nelson/github-action-markdown-link-check@1.0.16
